{% extends "base.html" %}
{% block title %}Atmosphuer{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/index.js')}}"> </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            {% for l in lights %}
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3>
                            {{ l[0] }}
                        </h3>
                    </div>
                    <div class="panel-body text-center">
                        <input id="{{l[1]}}" class="BSSwitch" type="checkbox" size="large" {% if l[2] %}checked{% endif %}>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <!-- List Scenes -->
                        <div class="list-group" style="overflow-y: scroll; max-height: 400px">
                                {% for item in scenes %}
                                        <a href="#"
                                           data-name="{{ item.name }}"
                                           data-hits="{{ item.hits }}"
                                           class="list-group-item sselector">
                                            <h2>{{ item.name }}</h2>
                                        </a>
                                {% endfor %}
                            </div>
                    </div>
                    <div class="col-xs-6">
                        <!-- List Sounds -->
                        <div class="list-group" style="overflow-y: scroll; max-height: 400px">
                                {% for item in sounds %}
                                    <a href="#" class="list-group-item aselector" data-source="{{url_for('static', filename='sounds/'+item)}}">
                                        <audio preload="none" loop="loop" id = {{ item }}>
                                        </audio>
                                    <h2>{{ item }}</h2>
                                    </a>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

